a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;font-size:100%;vertical-align:baseline}
html{line-height:1;box-sizing:border-box;font-family:Oswald,Arial;min-height:100vh;text-align:center}
ol,ul{list-style:none}
table{border-collapse:collapse;border-spacing:0}
caption,td,th{text-align:left;font-weight:400;vertical-align:middle}
blockquote,q{quotes:none}
blockquote:after,blockquote:before,q:after,q:before{content:"";content:none}
a img{border:none}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}
::-moz-selection{text-shadow:none}
::selection{text-shadow:none}
*,:after,:before{box-sizing:inherit}
*{max-width:100%}
.tick{stroke-width:1;stroke:#d3d3d3;opacity:.7}
.browsehappy{margin:.2em 0;background:#ccc;color:#000;padding:.2em 0}
input[type=range]{-webkit-appearance:none;margin:10px 0 0;width:100%}
input[type=range]:focus{outline:0}
input[type=range]::-webkit-slider-runnable-track{width:100%;height:12.8px;cursor:pointer;animate:.2s;box-shadow:0 0 0 #000,0 0 0 #0d0d0d;background:#333;border-radius:25px;border:0 solid #000101}
input[type=range]::-webkit-slider-thumb{box-shadow:0 0 0 #000,0 0 0 #0d0d0d;border:0 solid #000;height:20px;width:39px;border-radius:7px;background:#000;cursor:pointer;-webkit-appearance:none;margin-top:-3.6px}
input[type=range]:focus::-webkit-slider-runnable-track{background:#333}
input[type=range]::-moz-range-track{width:100%;height:12.8px;cursor:pointer;animate:.2s;box-shadow:0 0 0 #000,0 0 0 #0d0d0d;background:#333;border-radius:25px;border:0 solid #000101}
input[type=range]::-moz-range-thumb{box-shadow:0 0 0 #000,0 0 0 #0d0d0d;border:0 solid #000;height:20px;width:39px;border-radius:7px;background:#000;cursor:pointer}
input[type=range]::-ms-track{width:100%;height:12.8px;cursor:pointer;animate:.2s;background:0 0;border-color:transparent;border-width:39px 0;color:transparent}
input[type=range]::-ms-fill-lower{background:#333;border:0 solid #000101;border-radius:50px;box-shadow:0 0 0 #000,0 0 0 #0d0d0d}
input[type=range]::-ms-fill-upper{background:#333;border:0 solid #000101;border-radius:50px;box-shadow:0 0 0 #000,0 0 0 #0d0d0d}
input[type=range]::-ms-thumb{box-shadow:0 0 0 #000,0 0 0 #0d0d0d;border:0 solid #000;height:20px;width:39px;border-radius:7px;background:#000;cursor:pointer}
input[type=range]:focus::-ms-fill-lower{background:#333}
input[type=range]:focus::-ms-fill-upper{background:#333}
.d3-tip{background-color:rgba(238,238,238,.95);border-radius:3px;color:#444;padding:7.5px 12px}